root = true

[*]
# 结尾换行符，可选"lf"、"cr"、"crlf"
end_of_line = lf
# 在文件结尾插入新行
insert_final_newline = true
# 删除一行中的前后空格
trim_trailing_whitespace = true

[*.{java, groovy, xml, yml, yaml}]
indent_style = tab
indent_size = 4
ij_any_label_indent_size = 8
# 设置字符集
charset = utf-8

[*.java]
ij_java_insert_override_annotation = true
