<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4j.system.mapper.DeptMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="deptResultMap" type="com.simple4j.system.entity.Dept">
		<id column="id" property="id"/>
		<result column="parent_id" property="parentId"/>
		<result column="dept_name" property="deptName"/>
		<result column="full_name" property="fullName"/>
		<result column="sort" property="sort"/>
		<result column="remark" property="remark"/>
		<result column="is_deleted" property="isDeleted"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<select id="tree" resultType="com.simple4j.system.entity.Dept">
		select
		<include refid="baseColumnList"/>
		from simple4j_dept
		where is_deleted = 0
		<if test="tenantId!=null">
			and tenant_id = #{tenantId}
		</if>
	</select>

	<select id="getDeptNames" resultType="java.lang.String">
        SELECT
        d.dept_name
        FROM
        simple4j_user_dept ud join
        simple4j_dept d on ud.dept_id = d.id
        WHERE
       	ud.user_id = #{userId}
        and ud.is_deleted = 0
        and d.is_deleted = 0
    </select>

	<sql id="baseColumnList">
        id, parent_id, dept_name, full_name, sort, remark, is_deleted
    </sql>

</mapper>
