<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4j.user.mapper.PostMapper">
	<select id="getPostNames" resultType="java.lang.String">
        SELECT
            p.post_name
        FROM
            simple4j_user_post up join
            simple4j_post p on up.post_id = p.id
        WHERE
          up.user_id = #{userId}
            and up.is_deleted = 0
            and p.is_deleted = 0
    </select>

</mapper>
