<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4j.system.mapper.UserMapper">

	<select id="getUser" resultType="com.simple4j.system.entity.User">
        SELECT
            *
        FROM
            simple4j_user
        WHERE
            tenant_id = #{param1} and account = #{param2} and password = #{param3} and is_deleted = 0
    </select>

	<select id="getRoleAlias" resultType="java.lang.String">
		SELECT
		role_alias
		FROM
		simple4j_role
		WHERE
		id IN
		<foreach close=")" collection="array" index="index" item="ids" open="(" separator=",">
			#{ids}
		</foreach>
		and is_deleted = 0
	</select>

	<select id="getDeptName" resultType="java.lang.String">
		SELECT
		dept_name
		FROM
		simple4j_dept
		WHERE
		id IN
		<foreach close=")" collection="array" index="index" item="ids" open="(" separator=",">
			#{ids}
		</foreach>
		and is_deleted = 0
	</select>
	<select id="existedByUsernames" resultType="java.lang.Boolean">
		select username from simple4j_user where username in
		<foreach collection="usernames" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<sql id="baseColumnList">
        select id,
        create_user AS createUser,
        create_time AS createTime,
        update_user AS updateUser,
        update_time AS updateTime,
        status,
        is_deleted AS isDeleted,
        account, password, name, real_name, email, phone, birthday, sex, role_id, dept_id
    </sql>

</mapper>
