<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4j.user.dao.PostMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="postResultMap" type="com.simple4j.user.entity.Post">
		<result column="id" property="id"/>
		<result column="create_user" property="createUser"/>
		<result column="create_dept" property="createDept"/>
		<result column="create_time" property="createTime"/>
		<result column="update_user" property="updateUser"/>
		<result column="update_time" property="updateTime"/>
		<result column="status" property="status"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="category" property="category"/>
		<result column="post_code" property="postCode"/>
		<result column="post_name" property="postName"/>
		<result column="sort" property="sort"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<select id="getPostNames" resultType="java.lang.String">
        SELECT
            p.post_name
        FROM
            simple4j_user_post up join
            simple4j_post p on up.post_id = p.id
        WHERE
          up.user_id = #{userId}
            and up.is_deleted = 0
            and p.is_deleted = 0
    </select>

</mapper>
