#set($dtoPackage=$package.Entity.replace("entity","dto"))
package $!{dtoPackage};

	#if($!{entityLombokModel})
	import lombok.Data;
	#end
import java.io.Serializable;

import com.fasterxml.jackson.annotation.JsonProperty;


/**
 * $!{table.comment}分页请求实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
	#if($!{entityLombokModel})
	@Data
	#end
	#if($!{swagger2})
	@ApiModel(value = "$!{table.comment}分页请求实体类", description = "$!{table.comment}分页请求实体类")
	#end
public class $!{entity}PageRequest implements Serializable {

	private static final long serialVersionUID = 1L;

	/**
	 * 页码
	 */
	@ApiModelProperty(name = "page_no", value = "页码")
	@JsonProperty("page_no")
	private int pageNo;

	/**
	 * 分页数
	 */
	@ApiModelProperty(name = "pageSize", value = "分页数")
	@JsonProperty("page_size")
	private int pageSize;
}
