#set($mapstructPackage=$package.Entity.replace("entity","mapstruct"))
package $!{mapstructPackage};

import java.util.List;

import $!{package.Entity}.$!{entity};
import org.mapstruct.Mapper;
import org.mapstruct.ReportingPolicy;

#set($requestPackage=$package.Entity.replace("entity","request"))
#set($responsePackage=$package.Entity.replace("entity","response"))
import $!{requestPackage}.$!{entity}AddRequest;
import $!{requestPackage}.$!{entity}AddOrUpdateRequest;
import $!{requestPackage}.$!{entity}UpdateRequest;
import $!{responsePackage}.$!{entity}DetailResponse;
import com.simple4j.api.base.Page;
/**
 * $!{table.comment}数据转换类
 *
 * @author $!{author}
 * @since $!{date}
 */
@Mapper(componentModel = "spring", unmappedTargetPolicy = ReportingPolicy.IGNORE)
public interface $!{entity}MapStruct {

	/**
	 * VO转PO
	 *
	 * @param vo
	 * @return
	 */
	$!{entity} toPo($!{entity}AddRequest vo);

	/**
	 * VO转PO
	 *
	 * @param vo
	 * @return
	 */
	$!{entity} toPo($!{entity}AddOrUpdateRequest vo);

	/**
	 * VO转PO
	 *
	 * @vo vo
	 * @return
	 */
	$!{entity} toPo($!{entity}UpdateRequest vo);

	/**
	* PO转VO
	*
	* @param po
	* @return
	*/
	$!{entity}DetailResponse toVo($!{entity} po);

	/**
	* PO转VO
	*
	* @param po
	* @return
	*/
	List<$!{entity}DetailResponse> toVo(List<$!{entity}> po);


	/**
	* 分页转换PO转VO
	* @param po
	* @return
	*/
	Page<$!{entity}DetailResponse> toVo(Page<$!{entity}> po);
}
