#set($requestPackage=$package.Entity.replace("entity","request"))
package $!{requestPackage};

    #if($!{entityLombokModel})
    import lombok.Data;
    #end
import java.io.Serializable;
    #if($!{swagger2})
    import io.swagger.v3.oas.annotations.media.Schema;
    import io.swagger.v3.oas.annotations.Parameter;
    #end
import com.fasterxml.jackson.annotation.JsonProperty;


/**
 * $!{table.comment}分页请求实体类
 *
 * @author $!{author}
 * @since $!{date}
 */
    #if($!{entityLombokModel})
    @Data
    #end
    #if($!{swagger2})
    @Schema(name = "$!{table.comment}分页请求实体类", description = "$!{table.comment}分页请求实体类")
    #end
public class $!{entity}PageRequest implements Serializable {

    private static final long serialVersionUID = 1L;

    /**
     * 页码
     */
    @Parameter(name = "page_no", description = "页码")
    @JsonProperty("page_no")
    private int pageNo;

    /**
     * 分页数
     */
    @Parameter(name = "pageSize", description = "分页数")
    @JsonProperty("page_size")
    private int pageSize;
}
